#!/bin/bash
echo -e "\nSaving default config\n"

if [ -f ./sdkconfig.defaults ]; then
    echo -e "\nbacking up sdkconfig.defaults to sdkconfig.defaults.bak\n"
    cp -f sdkconfig.defaults sdkconfig.defaults.bak
else
    echo -e "\nNo sdkconfig.defaults found, skipping backup\n"
fi

echo -e "\nRunning save-defconfig\n"

idf.py save-defconfig

echo -e "\nDefaults saved to sdkconfig.defaults\n"
echo -e "\nAll done :3\n"